.container {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  height: var(--input-height);
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  border: 1px solid hsl(0 0% 85%);
  border-radius: var(--border-radius-medium);
  font-size: var(--input-font-size);
  line-height: var(--input-line-height);
  background-color: var(--color-white);
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border-color: var(--color-primary);
  }

  &:hover:not(:disabled) {
    border-color: var(--color-primary);
    background-color: var(--color-hover-bg);
  }

  &:disabled {
    background-color: var(--color-disabled-bg);
    cursor: not-allowed;
    opacity: 0.6;
  }

  &::placeholder {
    color: var(--color-text-secondary);
  }
}
