.container {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding: var(--padding-medium) var(--padding-large);
  border: 1px solid hsl(0 0% 85%);
  border-radius: var(--border-radius-medium);
  font-size: var(--font-size-medium);
  line-height: normal;
  background-color: var(--color-white);
  transition: all 0.2s ease-in-out;

  &:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 3px hsla(222.2, 47.4%, 11.2%, 0.1);
  }

  &:hover:not(:disabled) {
    border-color: hsl(148, 100%, 25%);
    background-color: var(--color-hover-bg);
  }

  &:disabled {
    background-color: var(--color-disabled-bg);
    cursor: not-allowed;
    opacity: 0.6;
  }

  &::placeholder {
    color: hsl(0 0% 60%);
  }
}
