.container {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1.5px solid hsl(0 0% 89%);
  border-radius: 8px;
  font-size: 0.9375rem;
  line-height: 1.5;
  background-color: white;
  transition: all 0.2s ease-in-out;

  &:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 3px hsla(222.2, 47.4%, 11.2%, 0.1);
  }

  &:hover:not(:disabled) {
    border-color: hsl(148, 100%, 25%);
    background-color: hsl(0 0% 99%);
  }

  &:disabled {
    background-color: hsl(0 0% 98%);
    cursor: not-allowed;
    opacity: 0.6;
  }

  &::placeholder {
    color: hsl(0 0% 60%);
  }
}
