.container {
  width: 100%;
  position: relative;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  gap: var(--margin-small);
}

.label {
  font-size: var(--font-size-medium);
  font-weight: 500;
  color: hsl(222.2 47.4% 11.2%);
  margin: var(--margin-none);
}

.inputWrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--margin-small);
}

.textInput {
  width: 100%;
  height: var(--input-height);
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  font-size: var(--input-font-size);
  line-height: var(--input-line-height);
  box-sizing: border-box;
  
  background-color: var(--color-white);
  border: 1px solid hsl(0 0% 85%);
  border-radius: var(--border-radius-medium);
  transition: all 0.2s ease-in-out;
  color: hsl(222.2 47.4% 11.2%);

  &:hover {
    border-color: hsl(148, 100%, 25%);
    background-color: var(--color-hover-bg);
  }

  &:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 3px hsla(222.2, 47.4%, 11.2%, 0.1);
  }

  &::placeholder {
    color: hsl(0 0% 60%);
  }
}

.calendarInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--margin-small);
}

.textInput {
  width: 100%;
  height: var(--input-height);
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  font-size: var(--input-font-size);
  line-height: var(--input-line-height);
  box-sizing: border-box;
  
  background-color: var(--color-white);
  border: 1px solid hsl(0 0% 85%);
  border-radius: var(--border-radius-medium);
  transition: all 0.2s ease-in-out;
  color: hsl(222.2 47.4% 11.2%);

  &:hover {
    border-color: hsl(148, 100%, 25%);
    background-color: var(--color-hover-bg);
  }

  &:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 3px hsla(222.2, 47.4%, 11.2%, 0.1);
  }

  &::placeholder {
    color: hsl(0 0% 60%);
  }
}

.calendarInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--margin-small);
}

.textInput {
  width: 100%;
  height: var(--input-height);
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  font-size: var(--input-font-size);
  line-height: var(--input-line-height);
  box-sizing: border-box;
  
  background-color: var(--color-white);
  border: 1px solid hsl(0 0% 85%);
  border-radius: var(--border-radius-medium);
  transition: all 0.2s ease-in-out;
  color: hsl(222.2 47.4% 11.2%);

  &:hover {
    border-color: hsl(148, 100%, 25%);
    background-color: var(--color-hover-bg);
  }

  &:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 3px hsla(222.2, 47.4%, 11.2%, 0.1);
  }

  &::placeholder {
    color: hsl(0 0% 60%);
  }
}

.calendarInput {
  width: 100%;
}
