.container {
  width: 100%;
  position: relative;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  gap: var(--margin-small);
}

.label {
  font-size: var(--font-size-medium);
  font-weight: 500;
  color: hsl(222.2 47.4% 11.2%);
  margin: var(--margin-none);
}

.inputWrapper {
  position: relative;
  width: 100%;
}
