.header {
  padding-top: var(--padding-xx-large);
  padding-bottom: var(--padding-xx-large);
  background-color: var(--color-white);
  color: var(--color-text);
  border-bottom: none;
  box-shadow: 0 var(--border-width-small) var(--padding-small) rgba(0, 0, 0, 0.1);
  min-height: 60px;
  position: relative;
  display: flex;
}
