.container {
  padding: var(--padding-xx-large) var(--padding-xx-large);
  max-width: 1280px;
  margin: var(--margin-none) auto var(--margin-none) auto; /* Account for sidebar width */
}

.title {
  font-size: var(--font-size-xx-large);
  font-weight: 700;
  color: hsl(222.2 47.4% 11.2%);
  margin: var(--margin-none);
}
