@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: var(--color-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --color-primary: #009245ff;
  --color-error: #e91a1a;
  --color-warning: #eeb302;
  --color-border: #e0e0e0;
  --color-text: #002d15;
  --color-text-secondary: #6c757d;
  --color-text-muted: #6c757d;

  --color-header-bg: #009245ff;
  --color-hover-bg: #e9ecef;
  --color-sidebar-bg: #f5f6f8;
  --color-sidebar-text: #002d15;
}
